body{
    margin:0;
    font-family:"Segoe UI", Arial, sans-serif;

    background:
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.85)),
    url("images/showroom.jpg");

    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    color:white;
}

/* Banner */
.banner{
    text-align:center;
    padding:60px 20px;
}

.banner h1{
    font-size:42px;
    letter-spacing:3px;
    color:#f5d7a1;
}

.banner p{
    font-size:18px;
    color:#ddd;
}

/* Grid */
.products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
    padding:40px;
}

/* Card */
.card{
    background:rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    border-radius:12px;
    overflow:hidden;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.6);
    transition:0.35s;
}

.card:hover{
    transform:translateY(-10px) scale(1.03);
}

/* Image */
.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

/* Text */
.card h3{
    margin:15px 0 5px;
    color:#f5d7a1;
}

.card p{
    font-size:14px;
    padding:0 15px 10px;
    color:#ddd;
}

/* Price */
.price{
    font-size:20px;
    font-weight:bold;
    margin-bottom:10px;
}

/* Add to Cart Button */
button{
    background:#c6a96b;
    border:none;
    padding:10px 20px;
    margin-bottom:20px;
    border-radius:25px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#e0c080;
    transform:scale(1.05);
}